ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
}
li {
      float: right;
}
li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor:pointer;
}
li a:visited{
      text-decoration: none;
      color: white;
}
li a:hover {
      background-color: #111;
}
body{
      font-family: 'Ubuntu', cursive;
      font-size: 13pt;
      background-color: #efefef;
      padding: 5px;
      margin: 0;
}
.container{
      flex-wrap: nowrap;
      width: 505px;
      background-color: #fff;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 10px;
      text-align: center;
}
#linkedin{
      height: 35px;
      width: 35px;
      margin-left: 5px;
      margin-right: 5px;
}
#github{
      height: 40px;
      width: 40px;
      margin-left: 5px;
      margin-right: 5px;
}
#contacts a{
      text-decoration: none;
}
footer{
      background-color:#454a4c;
      padding: 5px 5px;
      text-align: center;
      font-size: 8pt;
      color: white;
      left: 0;
      bottom: 0;
      width: 100%;
}
.quote{
      color: #4D428F;
      font-size: 20px;
}
.text{
      flex-wrap: nowrap;
      width: 500px;
      background-color: #fff;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 10px;
      margin-left: 420px;
      text-align: justify;
      text-justify: inter-word;
}
button{
      border: none;
      background-color: #f5d0c3;
      border-radius: 10px;
      padding: 10px;
      font-size: 18px;
      cursor:pointer;
      text-align: center;
      font-family: 'Ubuntu', cursive;
      font-size: 13pt;
}
button:hover{
      background-color: #FF6600
      ;
}
.allRecipes{
      flex-wrap: nowrap;
      width: 505px;
      background-color: #E9967A;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 10px;
      text-align: center;
}
.allRecipes button{
      background-color: #E9967A;
}
.filterButtons button{
      width: 80px;
      text-align: center;
}
.filterButtons{
      width: 505px;
      margin-left: 15px;
      text-align: center;
}
.allcontent{  
      flex-wrap: nowrap;
      width: 500px;  
      margin: auto;
}
a:link{
      text-decoration: none;
      
}
a:visited{
      text-decoration: none;
      color: #454a4c;
}
a:hover{
      text-decoration: none;
}
a:active{
      text-decoration: none; 
}

.leftPosition {
      float:left;
}